* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width:600px) {
    [class*="col-"] {
        width: 100%;
    }

    body {
        padding: 10px;
        background: url(./images/bg-pattern-top-mobile.svg) left top no-repeat, url(./images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
    }

    header h1 {
        line-height: 0.8;
        text-align: center;
    }


    header p {
        line-height: 1.2;
        text-align: center;
    }
    aside {
        margin-top: 0;
    }
    .rating {
        padding: 2rem;
        margin: 10px 0;
    }
    
    .rating p {
        display: block;
        bottom: -10px;
        text-align: center;
        font-size: large;
    }
    
    .first {
        margin-left: 110px;
    }

    .row::after, br, p.col-1, p.col-2, p.col-3, p.col-4, p.col-5, p.col-6, p.col-7, p.col-8, p.col-9, p.col-10, p.col-11, p.col-12 {
        display: none;
    }
}
