:root {
    --DarkMagenta: hsl(300, 43%, 22%);  
    --SoftPink: hsl(333, 80%, 67%);
    --GrayMagenta: hsl(303, 10%, 53%);
    --LightGrayMagenta: hsl(300, 24%, 96%);
}
body {
    font-family: 'League Spartan', sans-serif;
    padding: 70px;
    background: url('/images/bg-pattern-top-desktop.svg') left top no-repeat, url('/images/bg-pattern-bottom-desktop.svg') right bottom no-repeat;
    background-size: 600px, 1200px;
    max-height: 90vh;
}

header h1 {
    color: var(--DarkMagenta);
    font-weight: bolder;
    font-size: 4rem;
}

header p {
    color: var(--GrayMagenta);
    font-size: 1.41rem;
    margin-top: 1rem;
    font-weight: 500;
}

aside {
    margin-top: 5rem;
}

.rating {
    background-color: var(--LightGrayMagenta);
    border-radius: 10px;
    padding: 2rem;
}

.rating p {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: var(--DarkMagenta);
    font-weight: bold;
    position: relative;
    left: 15px;
    bottom: 8px;
}

.rating img {
    padding: 5px;
}

.review {
   background-color: var(--DarkMagenta);
   border-radius: 10px;
   padding: 1rem 2.2rem;
   color: white;
   font-size: 19px;
}

.user img {
    border-radius: 50%;
    margin-right: 1rem;
    height: 50px;
    position: absolute;
}

.user p {
    color: var(--SoftPink);
    position: relative;
    top: 10px;
    left: 80px;
    line-height: 0.25;
}

.name {
    color: white !important;
    font-weight: bold;
}

.text {
    margin-top: 50px;
    padding: 0;
    line-height: 1.5;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }
